<h2>Micro blog</h2>
<h3>User links menu</h3>

<div class="app">

    <ul id="user_links_menu">
        <li>
            <a href="{{registrationUrl}}">User create</a>
        </li>

        <li>
            <a href="{{userLoginUrl}}">User login</a>
        </li>

        
        <li>
            <a href="{{userSearchUrl}}">User search</a>
        </li>

        <li *ngIf="loggedUserId || 0 > 0">
            <a
                role="button"
                class="anchor"
                (click)="deleteUser()">
                Delete yourself
            </a>
        </li>
        <li>
            <a href="{{goBackUrl}}">&lsaquo; Go back</a>
        </li>
    </ul>
</div>