<h2>Micro blog. User view</h2>

<div>
    <div>
        {{ userData | json }}
    </div>

    <span>
        <button
            class="btn btn-outline-info ml-3"
            (click)="goBack()">
            &lsaquo; Go back
        </button>
    </span>

    <div>
        <span>
            <button
                class="btn btn-outline-info ml-3"
                (click)="viewAllUsers()">
                &lsaquo; View all users
            </button>
        </span>
        <span>
            <button
                class="btn btn-outline-info ml-3"
                (click)="searchByUserName()">
                &lsaquo; Search by user name
            </button>
        </span>
    </div>

    <div *ngIf="action==='search_by_user_name'">
        <h3>Single User Info</h3>
        <search-form
            [detail]="userData"
            [searchError]="searchError"
            (update)="onGetInfo($event)">

        </search-form>
    </div>

    <!-- {{ response | json }} -->

    <div *ngFor="let user of response?.response?.resultAll">
        <user-display
            [detail]="user">

        </user-display>
    </div>

</div>