<h2>Micro blog. User view</h2>

<div>
    <div>
        {{ userData | json }}
    </div>

    <span>
        <button
            class="btn btn-outline-info ml-3"
            (click)="goBack()">
            &lsaquo; Go back
        </button>
    </span>

    <h3>Single User Info</h3>
    <search-form
        [detail]="userData"
        [searchError]="searchError"
        (update)="onGetInfo($event)">

    </search-form>

    <!-- {{ response | json }} -->

    <div *ngFor="let user of response?.response?.resultAll">
        <user-display
            [detail]="user">

        </user-display>
    </div>

</div>